<div class="navbar navbar-expand-sm navbar-light navbar-lewagon ">
  <%= link_to cocktails_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", cocktails_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Create a cocktail", new_cocktail_path, class: "btn btn-danger" %>
      </li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <div style="text-align: center; margin-top: 20px">
        <h1> Nos Perfect Drinks </h1>
        <p> La recette d’un perfect drink est très simple, c’est la même pour tous !</p>
        <p> A réaliser dans un verre rempli de glace et complété par une tranche d’agrume :</p>
        <br>
      </div>
      <h2>La liste des cocktails</h2>
      <br>
      <div class="row">
      <% @cocktails.each do |cocktail| %>
          <div class="col-md-4 mb-6">
            <div class="card mb-4">
              <img src="/assets/fraise.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"><%= link_to cocktail.name, cocktail_path(cocktail) %></h5>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>






