<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to cocktails_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", cocktails_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Create a cocktail", new_cocktail_path, class: "btn btn-danger" %>
      </li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h1><%= @cocktail.name %> </h1>
      <h2>Notre recette pour réussir son <%= @cocktail.name %> : </h2>
      <% @cocktail.doses.each do |dose| %>
       <ul>
         <li><%=dose.description %> de <%= dose.ingredient.name %></li>
         <li><%= link_to "Remove", cocktail_dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %></li>
       </ul>
       <% end %>

      <div id="tof">
        <%= cl_image_tag @cocktail.photo.key, height: 400, width: 300%>
      </div>
      <hr>

      <h3>Editer votre cocktail ?</h3>
      <%= render "doses/new"%>
      <hr>
      <%= link_to "Back to the home", cocktails_path , class: "btn btn-danger" %>
    </div>
    </div>
  </div>
</div>

<div class="footer">
    <ul>
      <li><i class="fab fa-facebook-f"></i></li>
      <li><i class="fab fa-github"></i></li>
      <li><i class="fab fa-twitter"></i></li>
      <li><i class="fab fa-instagram"></i></li>
    </ul>
    <p>This website was coded with  💜 at Le Wagon.</p>
</div>
